In [4]:
import pandas as pd
surveyDf=pd.read_csv('survey_results_public.csv')

In [6]:
surveySchemaDf=pd.read_csv('survey_results_schema.csv')

In [19]:
# a=surveyDf.shape
# a=surveyDf.columns
a=surveyDf.dtypes
type(a)

pandas.core.series.Series

In [20]:
a=['a',1,2,3,45,'Ã¡bc']
sr=pd.Series(a)

In [23]:
sr.dtypes

dtype('O')

In [49]:
personInfo={
    'name':['umer','sana','asif'],
    'age':[25,26,27],
    'profession':['computer sciencetist','pharmacist','medical rap'],
    'dob':['1996-08-02 12:00:00.0000000011','2018-10-21 12:00:00.0000000011','2019-10-25 12:00:00.0000000011']
    
}
personDf=pd.DataFrame(personInfo)
personDf['dob']=pd.to_datetime(personDf['dob'],format='%Y-%m-%d %H:%M:%S.%f')

In [46]:
personDf.dtypes

name                  object
age                    int64
profession            object
dob           datetime64[ns]
dtype: object

In [50]:
personDf['days']=personDf['dob'].dt.day_name()

In [51]:
personDf

   name  age            profession                           dob    days
0  umer   25  computer sciencetist 1996-08-02 12:00:00.000000001  Friday
1  sana   26            pharmacist 2018-10-21 12:00:00.000000001  Sunday
2  asif   27           medical rap 2019-10-25 12:00:00.000000001  Friday